
body {
    font-size: 3vmin;
    text-align: center;
}

h1 {
    #font-size: 130%;
    margin: auto;
}

h2 {
    #font-size: 50%;
    #margin-left: 1em;
    #margin-right: 1em;
}

img {
    width: 0.9em;
    height: 0.9em;
    display: inline-block;
}

.inner{
    #margin-left: 2%;
}

.info {
    border-color: rgb(80, 80, 80);
    border-style: solid;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    text-decoration: none;
}

.infoBlock {
    display: inline-block;
}

.infoTitle {
    #font-size: 40%;
}

.infoValue {
    #font-size: 60%;
}

.serviceIcon {
    height: 1.4em;
    width: auto;
}

.serviceBlock {
    border-color: rgb(80, 80, 80);
    border-style: solid;
    border-radius: 0.5em;
    width: auto;
    text-align: center;
    margin: 0.1em;
    padding: 1%;
}
 .serviceTitle {
    #font-size: 40%;
    #text-align: left;
 }

 .serviceInfo {
    #font-size: 80%;
    #margin-right: 0.3em;
 }

 .list{
    margin:auto;
 }
