@font-face {
    font-family: "RocknRollOne-Regular";
    src: url("../asset/RocknRollOne-Regular.ttf");
}

html {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: "RocknRollOne-Regular";
}

body {
    font-size: 6vmin;
    text-align: center;
}

h1 {
    font-size: 130%;
    margin-bottom: 0em;
}

h2 {
    color: white;
    font-size: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    font-size: 40%;
    background-color: rgb(20, 20, 20);
}

img {
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.2em;
    display: inline-block;
}

a {
    color: cadetblue;
}

button{
    font-family: "RocknRollOne-Regular";
    font-size: 50%;
    border-color: rgb(80, 80, 80);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(20, 20, 20);
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(32, 32, 32);
}

button:active {
    background-color: white;
    color: black;
}

.link {
    border-color: rgb(80, 80, 80);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    margin: 0.1em;
}
.link:hover {
    background-color: rgb(32, 32, 32);
}
.link:active {
    background-color: white;
    color: black;
}

.info {
    border-color: rgb(80, 80, 80);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    text-align: left;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.infoBlock {
    display: inline-block;
}

.infoTitle {
    font-size: 40%;
}

.infoValue {
    font-size: 60%;
}

.serviceIcon {
    height: 1.4em;
    width: auto;
}

.serviceBlock {
    border-color: rgb(80, 80, 80);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    width: auto;
    text-align: center;
    display: inline-block;
}
 .serviceTitle {
    font-size: 40%;
    text-align: left;
 }

 .serviceInfo {
    display: inline-block;
    font-size: 80%;
    margin-right: 0.3em;
 }